﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/Content/Catalog.css">
<style>
    text
</style>
<aside>
    <br />
    <br />
    <div class="col-lg-8" style="margin:auto">
        <div class="myQuote" style="font-size:40px;">
            Some tips for you
        </div>
        <video style="height:inherit; width:inherit;" controls>
            <source src="~/Assets/Online Shopping Tips .mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <br />
    <br />
    <br />
    <br />

    <div class="col-lg-8" style="margin:auto">
        <div class="myQuote" style="font-size:20px;">
            Life is too short to wear boring clothes
        </div>
        <div style="column-count: 3;">
            Fashion is a popular aesthetic expression in a certain time and context, especially in clothing, footwear, lifestyle, accessories, makeup, hairstyle and body proportions. Whereas, a trend often connotes a very specific aesthetic expression, and often lasting shorter than a season, fashion is a distinctive and industry-supported expression traditionally tied to the fashion season and collections. Style is an expression that lasts over many seasons, and is often connected to cultural movements and social markers, symbols, class and culture (ex. Baroque, Rococo, etc). According to sociologist Pierre Bourdieu, fashion connotes “the latest fashion, the latest difference.”

            Even though they are often used together, the term fashion differs from clothes and costume, where the first describes the material and technical garment, whereas the second has been relegated to special senses like fancy-dress or masquerade wear. Fashion instead describes the social and temporal system that "activates" dress as a social signifier in a certain time and context. Philosopher Georgio Agamben connects fashion to the current intensity of the qualitative moment, to the temporal aspect the Greek called kairos, whereas clothes belong to the quantitative, to what the Greek called chronos.

            Exclusive brands aspire for the label haute couture, but the term is technically limited to members of the Chambre Syndicale de la Haute Couture in Paris.

            With increasing mass-production of consumer commodities at cheaper prices, and with global reach, sustainability has become an urgent issue amongst politicians, brands and consumers.
        </div>

</aside>