﻿@model IEnumerable<internetApp.Models.ProductOrder>
@{
    ViewBag.Title = "Index";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
    </tr>
    @foreach (var item in Model)
    {
<tr id="@item.ProductId">
    <td>
        <img class="img-fluid squared" src="@Html.DisplayFor(modelItem => item.Product.Picture)" alt="Card image cap">
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Product.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Product.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Product.Category)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Product.Price)
    </td>
    <td>
        <input type="text" onchange="changeQuantity('@item.ProductId', value)" value="@Html.DisplayFor(modelItem => item.Quantity)" />
    </td>
    <td>
        <button class="btn btn-primary" onclick="DeleteFromCart('@item.ProductId')">Delete</button>
    </td>
</tr>
    }
</table>
@if (Session["USER"] != null)
{
    <div>Which branch to order from?</div>
    <select onchange="ChangeBranch(value);" required name="branchSelect">
        @foreach (var item in ViewBag.Branches)
        {
            if (Session["BranchIdToOrderFrom"].Equals(item.Id))
            {
                <option selected="selected" value="@item.Id">@item.Name</option>
            }
            else
            {
                <option value="@item.Id">@item.Name</option>
            }
        }
    </select>
    <a class="btn btn-primary" href="/ShoppingCart/Order">order</a>
}
<script>

    function DeleteFromCart(id) {
        $.ajax({
            type: "post",
            url: "/ShoppingCart/Delete",
            data: { prodId: id },
            dataType: "application/json"
        });
        $("#" + id).hide();
    }
    function changeQuantity(prodId, quantity) {
        $.ajax({
            type: "post",
            url: "/ShoppingCart/ChangeQuantity",
            data: { prodId: prodId, quantity: quantity },
            dataType: "application/json"
        });
    }
    function ChangeBranch(branchId) {
        $.ajax({
            type: "post",
            url: "/ShoppingCart/ChangeBranch",
            data: { branchId: branchId },
            dataType: "application/json"
        });
    }
</script>