﻿@using internetApp.Models
@{
    var user = (Session["USER"] as User);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/layout.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
    <style>
        .navbar {
            min-height: 10px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand mynav-element" href="/" style="height:50px"><img class="navbar-brand-image" src="~/Assets/logo.png" /></a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Products/Index">Catalog<span class="sr-only">(current)</span></a>
                </li>
                @if (user != null)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Orders/MyOrders">My Orders<span class="sr-only">(current)</span></a>
                    </li>
                    if (user.IsAdmin)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Users/Index">Users</a>
                                <a class="dropdown-item" href="/Branches/Index">Branches</a>
                                <a class="dropdown-item" href="/Orders/Branch">Branch Orders</a>
                                <a class="dropdown-item" href="/Statistics/Index">Statistics</a>
                            </div>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="/Users/Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Users/Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Users/SignUp">SignUp</a>
                    </li>

                }
                <li class="nav-item">
                    <a class="nav-link" href="/ShoppingCart/Index">
                        <i class="material-icons">
                            shopping_cart
                        </i><span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Branches/Map">
                        <i class="material-icons">
                            map
                        </i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Tips/Index">
                        <i class="material-icons">
                            highlight
                        </i>
                    </a>
                </li>
                <li class="nav-item"><canvas id="canvas" width="50" height="50"></canvas></li>
            </ul>
                @*</div>*@
</nav>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <nav class="navbar sticky-bottom navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a id="fbshare" class="nav-link">Share</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> All copyrights associated with NETTA group.</a>
                </li>
            </ul>
        </nav>
    </footer>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '543401349351138',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v2.10'
            });
            FB.AppEvents.logPageView();
        };

        $('#fbshare').on('click', function () {
            FB.ui({
                method: 'share',
                display: 'popup',
                quote: 'go shopping at NETTA!',
                href: 'http://NETTA.com',
            }, function (response) { });
        });

        // Load Facebook SDK for JavaScript
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        function convertToC(temp) {
            return (parseFloat(temp) - 32) * (5 / 9);
        }

        $.get("https://query.yahooapis.com/v1/public/yql?q=select%20item.condition.text%2Citem.condition.temp%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places(1)%20where%20text%3D%22gan%20yavne%22)&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys", function (data) {
            $('#weather .temp').text(Math.ceil(convertToC(data.query.results.channel.item.condition.temp)) + '° ' + data.query.results.channel.item.condition.text);
        });

        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        var radius = canvas.height / 2;
        ctx.translate(radius, radius);
        radius = radius * 0.90;
        setInterval(drawClock, 1000);

        function drawClock() {
            drawFace(ctx, radius);
            drawNumbers(ctx, radius);
            drawTime(ctx, radius);
        }

        function drawFace(ctx, radius) {
            var grad;
            ctx.beginPath();
            ctx.arc(0, 0, radius, 0, 2 * Math.PI);
            ctx.fillStyle = 'white';
            ctx.fill();
            grad = ctx.createRadialGradient(0, 0, radius * 0.95, 0, 0, radius * 1.05);
            grad.addColorStop(0, '#333');
            grad.addColorStop(0.5, 'white');
            grad.addColorStop(1, '#333');
            ctx.strokeStyle = grad;
            ctx.lineWidth = radius * 0.1;
            ctx.stroke();
            ctx.beginPath();
            ctx.arc(0, 0, radius * 0.1, 0, 2 * Math.PI);
            ctx.fillStyle = '#333';
            ctx.fill();
        }

        function drawNumbers(ctx, radius) {
            var ang;
            var num;
            ctx.font = radius * 0.3 + "px arial";
            ctx.textBaseline = "middle";
            ctx.textAlign = "center";
            for (num = 1; num < 13; num++) {
                ang = num * Math.PI / 6;
                ctx.rotate(ang);
                ctx.translate(0, -radius * 0.85);
                ctx.rotate(-ang);
                ctx.fillText(num.toString(), 0, 0);
                ctx.rotate(ang);
                ctx.translate(0, radius * 0.85);
                ctx.rotate(-ang);
            }
        }

        function drawTime(ctx, radius) {
            var now = new Date();
            var hour = now.getHours();
            var minute = now.getMinutes();
            var second = now.getSeconds();
            //hour
            hour = hour % 12;
            hour = (hour * Math.PI / 6) +
                (minute * Math.PI / (6 * 60)) +
                (second * Math.PI / (360 * 60));
            drawHand(ctx, hour, radius * 0.5, radius * 0.07);
            //minute
            minute = (minute * Math.PI / 30) + (second * Math.PI / (30 * 60));
            drawHand(ctx, minute, radius * 0.8, radius * 0.07);
            // second
            second = (second * Math.PI / 30);
            drawHand(ctx, second, radius * 0.9, radius * 0.02);
        }

        function drawHand(ctx, pos, length, width) {
            ctx.beginPath();
            ctx.lineWidth = width;
            ctx.lineCap = "round";
            ctx.moveTo(0, 0);
            ctx.rotate(pos);
            ctx.lineTo(0, -length);
            ctx.stroke();
            ctx.rotate(-pos);
        }
    </script>
</body>
</html>
