﻿@model internetApp.Models.Entity

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <style>
        .bar {
            fill: steelblue;
        }
    </style>

</head>
<body>

    <h3>Products by prices:</h3>
    <svg class="chart"></svg>
    <script>

            var margin = { top: 20, right: 30, bottom: 30, left: 40 },
                width = 500 - margin.left - margin.right,
                height = 300 - margin.top - margin.bottom;

            var x = d3.scaleBand()
                .rangeRound([0, width]).padding(0.1);

            var y = d3.scaleLinear()
                .range([height, 0]);

            var xAxis = d3.axisBottom()
            .scale(x);

            var yAxis = d3.axisLeft()
            .scale(y);

            var chart = d3.select(".chart")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var data = @Html.Raw(Json.Encode(ViewData["data1"]));
            x.domain(data.map(function (d) { return d.price; }));
            y.domain([0, d3.max(data, function (d) { return d.count; })]);

            chart.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

            chart.append("g")
                .attr("class", "y axis")
                .call(yAxis);

        chart.selectAll(".bar")
            .data(data)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function (d) { return x(d.price); })
            .attr("width", x.bandwidth())
            .attr("y", function (d) { return y(d.count); })
            .attr("height", function (d) { return height - y(d.count); });


    </script>

    <br /><br />
          <h3>Products by categories:</h3>
    <br />
    <div id="pie"></div>
    <script type="text/javascript">
        var w = 300,
            h = 300,
            r = 150;                        
        var color = d3.scaleOrdinal(d3.schemeCategory20);

            var data2 = @Html.Raw(Json.Encode(ViewData["data2"]));

            var vis = d3.select("#pie")
                .append("svg:svg")              
                .data([data2])                  
                .attr("width", w)         
                .attr("height", h)
                .append("svg:g")          
                .attr("transform", "translate(" + r + "," + r + ")")

        var arc = d3.arc()
                .innerRadius(0)
            .outerRadius(r);

            var pie = d3.pie() 
                .value(function (d) { return d.count; }); 

            var arcs = vis.selectAll("g.slice")   
                .data(pie)                        
                .enter()                          
                .append("svg:g")          
                .attr("class", "slice");  

            arcs.append("svg:path")
                .attr("fill", function (d, i) { return color(i); }) 
                .attr("d", arc);                                    

            arcs.append("svg:text")                                 
                .attr("transform", function (d) {        
                    d.innerRadius = 0;
                    d.outerRadius = r;
                    return "translate(" + arc.centroid(d) + ")";    
                })
                .attr("text-anchor", "middle")                      
                .text(function (d, i) { return data2[i].category + " : " + data2[i].count; });     

    </script>
    </div>
    <br /><br /><br />

</body>
</html>
