﻿.catalog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.myQuote {
    font-family: font;
    text-align: center;
    opacity:0.5;
    transition:opacity 2s;
}
.myQuote:hover {
    opacity:1;
}
.img-product-container {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}
.squared {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}