﻿.middle {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}
.mynav-element {
    color:white;
}
@font-face {
    font-family: font;
    src: url(../fonts/ShortBaby.ttf);
}

.navbar {
    min-height: 80px;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-brand-image {
    height:inherit;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    padding-bottom: 80px;
}

