﻿body {
    background: url('../Assets/Login_background.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}
.panel-body {
    margin: auto;
    width: 50%;
    padding: 10px;
}
