﻿@model internetApp.Models.Order

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
       
        <div class="form-group">
            @Html.HiddenFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.BranchId,
                            new SelectList(ViewBag.Branches, "Id", "Name"), "BranchId", new { @class = "select-field btn-default" })
                @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
            </div>
        </div>

        @if(Model.ProductOrders != null && Model.ProductOrders.ToArray().Length > 0) {
        <h3>Products</h3>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            @foreach (var item in Model.ProductOrders)
            {
            <tr id="@item.ProductId@item.OrderId">
                <td>
                    @Html.DisplayFor(pO => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ProductOrders.First(pO => pO.ProductId == item.ProductId).Quantity, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    <a class="btn squared" onclick="RemoveFromOrder('@item.ProductId', '@item.OrderId')">Remove</a>
                </td>
            </tr>
            }
        </table>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Data" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Branch")
</div>
<script>
    function RemoveFromOrder(prodId, orderId) {
        $.ajax({
            type: "post",
            url: "/Orders/DeleteItem/",
            data: { ProductId: prodId, OrderId: orderId },
            dataType: "application/json"
        });
        $("#" + prodId + orderId).attr("hidden", true);
    }
</script>