﻿@model ICollection<internetApp.ViewModels.OrderIndexViewModel>
@using internetApp.Models

@{
                /**/

                ViewBag.Title = "Index";
}
<table class="table">
    <tr>
        @if (Session["USER"] != null && (Session["USER"] as User).IsAdmin)
        {
        <th>
            Client Full Name
        </th>
        }
    <th>
        Branch Name
    </th>
        <th>Sum of order</th>
    </tr>

        @foreach (var item in Model)
        {
            <tr id="@item.order.Id-row">
                @if (Session["USER"] != null && (Session["USER"] as User).IsAdmin)
                {
                <td>
                    @Html.DisplayFor(modelItem => item.user.FullName)
                </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.branch.Name)
                </td>
                <td>
                    @item.order.ProductOrders.Sum(pO => (pO.Quantity * pO.Product.Price))
                </td>
                    @if (Session["USER"] != null && (Session["USER"] as User).IsAdmin)
                    {                      
                        <td>@Html.ActionLink("Edit", "Edit", new { id = item.order.Id })</td>
                        <td><a onclick="DeleteOrder('@item.order.Id')">
    <i class="material-icons">
        delete
    </i><span class="sr-only">(current)</span>
</a></td>
                        }
                    <td width="250px">
                        <button onclick="setSelectedOrder('@item.order.Id')">expand/unexpand</button>
                    </td>
            </tr>
            <tbody style="background-color: lightpink " id="@item.order.Id" hidden>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total amount for product</th>
            </tr>
            @foreach (var pO in item.order.ProductOrders)
            {
                <tr>
                    <td>@pO.Product.Name</td>
                    <td>@pO.Product.Price</td>
                    <td>@pO.Quantity</td>
                    <td>@(pO.Quantity * pO.Product.Price)</td>
                </tr>
            }
            </tbody>    
        }
</table>
<script>
    function setSelectedOrder(id) {
        if ($("#" + id).attr("hidden"))
            $("#" + id).removeAttr("hidden")
        else
            $("#" + id).attr("hidden", true);
        }
    function DeleteOrder(id) {
        $.ajax({
            type: "post",
            url: "/Orders/Delete",
            data: { orderId: id },
            dataType: "application/json"
        });
        $("#" + id + "-row").hide();
    }
</script>
