﻿@model IEnumerable<internetApp.Models.Branch>
@using internetApp.Models
@{
    ViewBag.Title = "Index";
}

<div class="container row">
    @if (Session["USER"] != null && (Session["USER"] as User).IsAdmin)
    {
        <div class="list-inline buttons">
            <button class="btn btn-lg btn-primary" href="#" role="button" style="margin-bottom: 10%; margin-top: 10%;">@Html.ActionLink("Add Branch", "Create")</button>
        </div>
    }

    <form class="col-12" method="get" action="/branches/Index/">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input type="text" class="form-control mb-2" placeholder="branch name" name="Name">
            </div>
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Supervisor</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="supervisor" name="Supervisor">
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2" OnClientClick="return false;">Search</button>
            </div>
        </div>
    </form>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longtitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supervisor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longtitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supervisor.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<style>
    button > a {
        color: white;
    }
</style>