﻿@model ICollection<internetApp.Models.Branch>
@using internetApp.Models
@{
    ViewBag.Title = "Map";
}
<h2>Map</h2>

<div style="align-content:center">
    <div id='myMap' style='width: 50vw; height: 85vh;'></div>
</div>
<script type='text/javascript'>
    var map;
    $.getScript("https://maps.googleapis.com/maps/api/js?key=AIzaSyBjm3M7bvE0Kzy3kNk_pwba_LkRyICqgdI", function () {
        initMap();
    });
    function initMap() {
        map = new google.maps.Map(document.getElementById('myMap'), {
            center: { lat: 32.083333, lng: 34.7999968 },
            zoom: 8
        });
        var branches = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        branches.forEach(item => {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng({ lat: item.Latitude, lng: item.Longtitude }),
                map: map
            });
        });
    }
</script>