﻿@model IEnumerable<internetApp.Models.User>
@using internetApp.Models
@{
    ViewBag.Title = "Index";
}
<div class="container row" >
    <form class="col-12" method="get" action="/Users/Index/"  style="margin-top: 1%;">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input type="text" class="form-control mb-2" placeholder="Email" name="Email">
            </div>
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Full name</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="Full name" name="FullName">
                </div>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Address</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="Address" name="Address">
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2" OnClientClick="return false;">Search</button>
            </div>
        </div>
    </form>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
