﻿@model internetApp.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/login.css">
<body id="login_body">
    <div id="login_container" class="container">
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                <form class="form-signin">
                    <img src="~/Assets/LOGOLOGIN.png">
                    @Html.AntiForgeryToken()
                    <div id="login_input" class="form-group">
                        <div id="login_name" class="form-group">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                        </div>
                        <div id="login_pass" class="form-group">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "Password" } })
                        </div>
                        <button id="login_btn" class="btn btn-default btn-block btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            }


        </div>



    </div>


</body>


