﻿@model internetApp.Models.Product
@using internetApp.Models
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-4">
        <img class="img-fluid" src="@Html.DisplayFor(model => model.Picture)" alt="Card image cap">
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
    </div>
</div>
<p>
    @if (Session["USER"] != null && (Session["USER"] as User).IsAdmin)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    <a role="button" tabindex="0" class="btn btn-primary" onclick="AddToCart('@Model.Id')" data-toggle="popover" data-trigger="focus" data-content="Added To Cart successfuly">Add To Cart</a>
    @Html.ActionLink("Back to List", "Index")
</p>
<script src="~/Scripts/CartManager.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
