﻿﻿@model internetApp.ViewModels.CatalogViewModel
@using internetApp.Models
@{
    /**/

    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/Catalog.css">
<div class="container row">
    <form class="col-12" method="get" action="/Products/Index/" style="margin-top: 1%;">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Category</label>
                <input type="text" class="form-control mb-2" placeholder="category" name="category">
            </div>
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Color</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="Color" name="color">
                </div>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Brand</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="Brand" name="brand">
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2" OnClientClick="return false;">Search</button>
            </div>
        </div>
    </form>
</div>
<div class="card-deck catalog-container">
    @foreach (var item in Model.allProducts)
    {
        <div class="card" id="@item.Id" style="border-radius: 15px;">
            <div class="img-product-container">
                <a href='@Url.Action("Details", new { id = item.Id })'>
                    <img class="card-img-top img-fluid squared" src="@Html.DisplayFor(modelItem => item.Picture)" alt="Card image cap">
                </a>
            </div>
            <div class="card-body">
                @if (Session["USER"] != null && (Session["USER"] as User).IsAdmin)
                {
                <a onclick="DeleteProduct('@item.Id')">
                    <i class="material-icons">
                        delete
                    </i><span class="sr-only">(current)</span>
                </a>
                }
                <h5 class="card-title" style="font-family: font;">@Html.DisplayFor(modelItem => item.Name)</h5>
                <p class="card-text" style="text-shadow: 1px 1px #000000;">@Html.DisplayFor(modelItem => item.Description)</p>
                <a role="button" tabindex="0" class="btn btn-primary" onclick="AddToCart('@item.Id')" data-toggle="popover" data-trigger="focus" data-content="Added To Cart successfuly">Add To Cart</a>
            </div>
        </div>
    }
    @if (Session["USER"] != null && (Session["USER"] as User).IsAdmin)
    {
        <div class="card">
            <div class="card-body">
                <a href="/Products/Create">
                    <i class="material-icons">
                        add
                    </i><span class="sr-only">(current)</span>
                </a>
            </div>
        </div>
    }
</div>
@if (Model.recommendedProducts != null && Model.recommendedProducts.Count != 0)
{
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <section class="card">
                <div class="card-header">
                    People who ordered the same products like you, also ordered:
                </div>
                <div class="card-body">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            @foreach (var item in Model.recommendedProducts)
                            {
                                <a class="carousel-item" href='@Url.Action("Details", new { id = item.Id })'>
                                    <div class="img-product-container">
                                        <img class="d-block w-100 squared" src="@Html.DisplayFor(modelItem => item.Picture)">
                                    </div>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                    </div>
                                </a>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-3"></div>
    </div>
}
<script src="~/Scripts/CartManager.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
        $('#myCarousel').find('.carousel-item').first().addClass('active');
    });
    
    function DeleteProduct(id) {
        $.ajax({
            type: "post",
            url: "/Products/Delete",
            data: { prodId: id },
            dataType: "application/json"
        });
        $("#" + id).hide();
    }
</script>